:root {
    --bg: #001225;
    --c1: #ffb2ee;
    --c2: #ace2ff;
    --lbg:#33598c;
}
html {
    color: var(--c2);
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

